<h2>{{nombre_componente}}</h2>

<div *ngIf="trabajador_externo == true">
    <button (click)="cambiarExterno(false)">Mostrar empleado</button>

    <ul>
        <li>{{trabajadores[0].nombre}}</li>
        <li>{{trabajadores[0].edad}}</li>
        <li>{{trabajadores[0].cargo}}</li>
        <li *ngIf="trabajadores[0].contratado == true">Esta contratado</li>
        <li *ngIf="trabajadores[0].contratado == false">No esta contratado</li>
    </ul>

</div>

<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(true)">Mostrar trabajador</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li>{{empleado.contratado}}</li>
        <li *ngIf="empleado.contratado == true">Esta contratado</li>
        <li *ngIf="empleado.contratado == false">No esta contratado</li>
    </ul>
</div>


<hr>

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i=index">
        <strong>Empleado {{ i + 1}} :</strong>
        <ul>

            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li>{{empleado.contratado}}</li>
            <li *ngIf="empleado.contratado == true">Esta contratado</li>
            <li *ngIf="empleado.contratado == false">No esta contratado</li>
        </ul>
    </li>

</ul>

<hr>
<h3>Color Switch</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
    'background':color, 
    'color': 'white',
    'padding': '20px' }">
        Es de color Rojo Carmesi
    </li>

        <ul [ngSwitch]="color">
            <li *ngSwitchCase="'green'" [ngStyle]="{
                    'background':color, 
                    'color': 'white',
                    'padding': '20px' }">

                Es de color Verde alien
            </li>


            <ul [ngSwitch]="color">
                <li *ngSwitchCase="'blue'" [ngStyle]="{
                            'background':color, 
                            'color': 'white',
                            'padding': '20px' }">
                    Es de color Azul como blue la cancion
                </li>

            </ul>

            <h3>Selector de colores</h3>
<button (click)="logColorSeleccionado()">Mostrar log</button>
            <input type ="Text" [(ngModel)]="color_seleccionado"/>

<pre 
[style.border] ="color_seleccionado == 'red' ? '5px solid black' : '1px solid green' "
 
[ngClass]="{
    
    fondoAzul: color_seleccionado == 'blue',
    fondoVerde: color_seleccionado == 'green'
  
}"
 >

<strong>Color Elegido</strong>

    {{color_seleccionado}}</pre>

            <div [ngStyle]="{
                'background':color_seleccionado, 
                'width': '200px',
                'height': '200px',
                'float':'right' ,
            'margin-right':'58%'}"></div>
            <div style="clear:both"></div>